name: Lint

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  prek:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: j178/prek-action@v1
      - uses: Scony/godot-gdscript-toolkit@master
      # - run: gdlint scripts/
      - run: gdformat --check scripts/
